.newPassword-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: -5%;
}

.newPassword-page .container {
    border: 2px solid rgb(204, 204, 204);
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;
}

.newPassword-page .container p {
    font-size: 14px;
    margin-bottom: 15px;
}

.newPassword-page .container input {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid gray;
}

.newPassword-page .container button {
    border-radius: 5px;
    padding: 8px 10px;
    font-weight: 500;
    background-color: rgb(48, 48, 48);
    cursor: pointer;
    color: white;
    border: none;
}

.newPassword-page .container button:hover {
    background-color: rgb(102, 102, 102);
}

.newPassword-page .container .forgot-password {
    font-size: 12px;
    margin-top: -8px;
    align-self: flex-start;
}

.newPassword-page .container .forgot-password:hover {
    text-decoration: underline;
}