.profile-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: -2%;
}

.profile-page .container {
    border: 2px solid rgb(204, 204, 204);
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;
    align-items: center;
    color: rgb(83, 83, 83);
}

.profile-page .container .back-button {
    border-radius: 5px;
    padding: 8px 10px;
    font-weight: 500;
    background-color: rgb(48, 48, 48);
    cursor: pointer;
    color: white;
    border: none;
    width: 70px;
    align-self: flex-start;
}

.profile-page .container .back-button:hover {
    background-color: rgb(102, 102, 102);
}

.profile-page .container p {
    font-size: 14px;
    margin-top: -10px;
}

.profile-page .container .profileImage {
    margin-top: 20px;
    min-width: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.profile-page .container .profileImage .change-photo {
    position: absolute;
    font-weight: 600;
    color: rgb(255, 255, 255);
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.2s ease-in-out;
    font-size: 15px;
    z-index: 500;
    cursor: pointer;
}

.profile-page .container .profileImage:hover .change-photo {
    opacity: 1;
}

.profile-page .container .profileImage img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.profile-page .container .profileImage:hover img {
    filter: grayscale(40%) brightness(80%);
}

.profile-page .container .info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile-page .container .account-email {
    margin-bottom: 10px;
}

.profile-page .container .info-container input {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: rgb(230, 230, 230);
}

.profile-page .container .info-container label {
    font-weight: 500;
    align-self: flex-start;
}

.profile-page .container .buttons-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.profile-page .container .buttons-container button {
    border-radius: 5px;
    padding: 8px 10px;
    font-weight: 500;
    background-color: rgb(48, 48, 48);
    cursor: pointer;
    color: white;
    border: none;
    flex: 1;
}

.profile-page .container .buttons-container button:hover {
    background-color: rgb(102, 102, 102);
}

